/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

header,
#main,
footer{
    width : 980px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #666666;
    padding : 0 0 10px 0;
}

header span {
    font-size : 20px;
    vertical-align:middle;
}
header img{
    height:80px;
    margin: 0 20px 0 0;
    vertical-align: middle;
}

footer{
    border-top: 1px solid #666666;
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    margin-top 20px;
    text-align:center;
    font-size:10px;
}

#toolbar{
    background : #999999;
    width: 970px;
    margin: 1px auto;
    padding: 3px 5px;
}

#toolbar * {
    margin: 3px 5px;
}