
@model CamadaDeApresentacao.Models.Aluno
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<p>
    Aluno ID: @Model.AlunoID
</p>

<p>
    Nome : @Model.Nome
</p>


<p>
   E-mail : @Model.Email 
</p>