
@model CamadaDeApresentacao.Models.Aluno
@{
    ViewBag.Title = "Detalhes";
   
}

@section Toolbar{
    <input type="button" value="Remover Cadastro"/>
    }

<h2>Detalhes</h2>

<p>
    Aluno ID: @Model.AlunoID
</p>

<p>
    Nome : @Model.Nome
</p>


<p>
   E-mail : @Model.Email 
</p>