@model CamadaDeApresentacao.Models.Usuario
@{
    ViewBag.Title = "Editar";
  
}

<h2>Editar</h2>
@section Toolbar{
    <input type="button" value="Remover Cadastro"/>
    }
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Salvar"/>
}

